// #nav-partner
//     background: $grey

#partner-main 
    height: 750px
    display: flex
    text-align: center
    justify-content: center
    align-items: center
    overflow: hidden

    h3 
        margin-top: 0
    
.main-partner
    margin-top: 60px
    display: grid
    grid-template-columns: repeat(5, auto)
    grid-gap: 20px
    grid-auto-rows: 100px
    justify-items: center
    align-items: center

    img 
        width: 90%
    //     // -webkit-filter: grayscale(100%)
    //     // filter: grayscale(100%)
    //     transition: all 0.2s ease

    //     // &:hover
    //     //     filter: none
        
.partner-card
    // img 
    width: 100%
    transition: all 0.2s ease


@media only screen and (min-width: 481px) and (max-width: 736px)
    #partner-main 
        height: 700px
    .main-partner
        display: grid
        grid-template-columns: repeat(3, auto)
        grid-gap: 30px
        grid-auto-rows: 80px
        // img 
        //     filter: none

@media only screen and (min-width: 320px) and (max-width: 480px)
    #partner-main
        height: 1050px
    .main-partner
        display: grid
        grid-template-columns: repeat(2, auto)
        grid-gap: 20px
        grid-auto-rows: 80px
        // img 
        //     filter: none