/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

body {
    @apply font-sans;
}

a {
    color: inherit;
    text-decoration: none;
}

.head {
    /* padding-top: 2em; */
    margin-top: 20vh;
    margin-bottom: 20vh;
    display: block;
}
 
.rnav li {
    @apply mr-6;
    @apply inline-block;
    @apply text-grey;
}

.rnav a:hover {
    @apply text-grey-darker;
}

#navbar #logo {
    transition: all 0.7s ease;
}

.intro {
    background-image: url("/asset/img/bg-clarus2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* border-bottom-left-radius: 50% 60px;
    border-bottom-right-radius: 60% 45px;
    margin-left: -1em; */
    overflow: hidden;
    position: relative;
}

.intro::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0070C6;
    mix-blend-mode: hue;
    /* mix-blend-mode: color;
    mix-blend-mode: hard-light; */
    mix-blend-mode: multiply;
    overflow: hidden;
}

.layer {
    overflow: hidden;
    position: relative;
    z-index: -2;
}

.layer::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0070C6;
    mix-blend-mode: hue;
    /* mix-blend-mode: color;
    mix-blend-mode: hard-light; */
    mix-blend-mode: multiply;
    z-index: -1;
    overflow: hidden;
}

/* 
.why {
    background: #0070C6;
    position: relative;
}

.why::after {
    position: absolute;
    background: inherit;
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(-20deg);
    transform-origin: 100%;
    z-index: -1;
} */



/* .card {
    display: grid !important;
    grid-template-columns: repeat(5, auto) !important;
    grid-gap: 20px !important;
}

.fitur-card {
    padding: 30px !important;
    border: solid 2px white !important;
    @apply rounded;
} */


 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

@tailwind screens;
